{% extends 'index.html' %}
{% load staticfiles %}
{% block titulo %}
Biblioteca.dev | Cambiar Contraseña
{% endblock titulo %}
{% block extra_css %}
{% endblock extra_css %}
{% block body %}

<div class="container">
    <h2>Formulario de Cambio de Contraseña</h2>
</div>


<form method="POST">
    {% csrf_token %}
    <div style="margin: 10px;">
        <div>
            {% if form.password1.errors %}
            {% for error in form.password1.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error: </strong> {{ error | escape }}
            </div>
            {% endfor %}
            {% endif %}
            {{ form.password1.label }}
            {{ form.password1 }}
        </div>

        <div>
            {% if form.password2.errors %}
            {% for error in form.password2.errors %}
            <div class="alert alert-danger alert-dismissible" style="margin: 10px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error: </strong> {{ error | escape }}
            </div>
            {% endfor %}
            {% endif %}
            {{ form.password2.label }}
            {{ form.password2 }}
        </div>

    </div>

    <button class="btn btn-primary" type="submit">CAMBIAR</button>
    <a href=" {% url 'index' %} " class="btn btn-danger">Cancelar</a>
</form>
{% endblock body %}